body {
    background-color:grey;;
}

#container {
    width: 400px;
    height: 500px;
    background-color:black;
    position: relative;
    top:200px;
    left:750px;
    border-radius: 25px;
}

#numbers {
    width: 60%;
    height: 50%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#operators {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    height:50%;
    width:15%;
    row-gap: 10px;
    left:75%;
    bottom: 10%;
}

#operators button {
    background-color: rgb(16, 67, 100);
}

button {
    color:black;
    background-color: rgb(105, 180, 230);
    border: none;
    border-radius: 20px;
    font-size: 20pt;
}

#clear {
    background-color: rgb(194, 84, 84);
}

#display {
    background-color: rgb(240, 240, 240);
    position: absolute;
    width: 81%;
    height: 30%;
    left:10%;
    top:5%;
    border-radius: 20px;
    text-align: center;
    line-height: 150px;
    font-size: 25pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
