#container {
    display: flex;
    flex-wrap: wrap;
    width:75%;
    border: solid black;
}

#panel {
    height: 100%;  
    width: 20%;;
    border: solid blue;
    position: absolute;
    right:40px;
    top:7.5px;
}

.books {
    flex-direction: row;
    border: solid black;
    width: 150px;
    height: 200px;
    line-height: 25px;
    border-radius: 20pt;
    background-color: grey;
}

form {
    width: 20%;
    position: absolute;
    right:40px;
    top:200px;
    display: none;
    
}

.removeButton {
    width: 40%;
    height: 20px;
    border-radius: 50px;
    position: relative;
    left:50%;
    bottom: 2%;
    font-size: 8pt;

}


h1 {
    font-size: 16pt;
}

h2 { 
    font-size: 12pt;
}

h3 {
    font-size: 8pt;
}

h4 {
    font-size: 8pt;
}